<h1>Login</h1>

    <form action ="/login" method="POST">
        
        <div>
            <label for="email">Email</label>
            <input type="email" id="email_address" name="email" required>
        </div><br>
    
        <div>
            <label for="passw">Password</label>
            <input type="password" id="pwd" name="passwrd" required>
        </div><br>
    
        <button type="submit">Login</button>
    </form>

    <a href="/register">Register new account</a>